.body{
    padding: 0;
    margin: 0;
}

.nav{
    display: flex;
    background-color: black;
    border: 2px solid rgb(201, 23, 23);
    width: 100%;
    height:80px;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.nav button{
   border-radius: 10px;
   width: 5rem;
   height: 50px;
   
}
.nav .item1{
    width: 10rem;
    background-color: rgb(100, 100, 155);
    color: white;
    font-size: 1rem;
}
.nav .item2{
    background-color: seagreen;
}
.nav .item3{
    background-color: rgb(100, 100, 155);
    color: white;
    font-size: 1rem;
}
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.main .togger{
    width: 10rem;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(113, 113, 183);
    border: none;
    color: white;
    font-size: 1rem;
}
h2{
    font-size: 3rem;
    color: black;
}

.contain{
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 20%;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.2s ease-out;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: rgb(101, 177, 232);
    width: 300px;
    
}

.contain .btn > img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.contain .btn{
    overflow: hidden;
    border-radius: 10%;
}
.imgtext{
   text-align: center;
   font-size: large;
   
}

.hidden {
    display: none;
  }


  #popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 35%;
    height: 350px;
    background-color: rgb(43, 43, 96);
    
}

#popupContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
}
#popupContent h3{
    color: wheat;
    font-size: large;
}
#popupContent select{
    height: 30%;
    background-color: #6b6fa9;
    background-color: #6b6fa9;
    color: var(--light-color);
    border-radius: var(--border-radius);
    border: 0;
    font-size: 0.75rem;
    padding: 0.75rem 1rem;
    border-radius: 20px;
}

#popupContent textArea{
    border: none;
    border-radius: 20px;
    
}

#popupContent button{
    height: 50px;
    width: 100%;
    border-radius: 20px;
    background-color: #6b6fa9;

}
#closePopup { 
    float: right;
    /* text-align: right; */
    cursor: pointer;
}
